@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* * {
  padding: 0;
  margin: 0;
} */
body {
  background-color: #f1f1f1;
  color: #111724;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  /* font: normal 16px "Roboto", sans-serif; */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: blue;
}
a:visited {
  color: gray;
}

.Zoro {
  width: 300px;
  border-radius: 20px;
  box-shadow: 4px 4px 14px rgba(170, 170, 170, 0.25);
}

.info {
  margin-bottom: 20px;
  display: flex;
}
@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}
.info-text {
  margin-left: 40px;
}
.info-text h4 {
  margin-bottom: 10px;
}

.info p {
  color: dimgray;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: capitalize; */
  /* letter-spacing: 5px; */
  /* word-spacing: 42px; */
}
/* Box model */
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

/* .social {
  background: #8cfe00;
  /* padding: 15px 40px 10px 1px; 
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 25px;

  border: 5px solid red;
  border-bottom-style: dotted;
  border-top-width: 2px;
  border-right-color: #000;
  border-left-style: dashed;

  margin: 5px;
}*/
/* .box-model > div {
  float: left;
  background: #000;
  height: 200px;
  width: 25%;
  border: 3px solid white;
  box-sizing: border-box;
} */
.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.bg-yellow {
  background: #fff9dc;
}
.bg-green {
  background: #e5ffe7;
}
.bg-red {
  background: #ffe5e5;
}
.bg-orange {
  background: rgb(246, 223, 202);
}
.bg-orange ol {
  list-style: square;
  color: #86898f;
  padding: 0 20px;
}
.bg-orange li {
  margin-bottom: 10px;
}
.card h2 {
  margin-bottom: 10px;
}
.list {
  padding: 0 20px;
  list-style: square;
}
.list li {
  color: #86898f;
  margin-bottom: 10px;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}
/* table tr:nth-child(even) {
  background-color: red;
} */
.link-list {
  list-style: square;
  padding: 0;
}
.link-list li {
  margin-bottom: 10px;
  margin-left: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.contact h2 {
  text-align: center;
}
.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
/* ">" не совсем понятно , что означает */
.row > .form-group {
  width: 50%;
}
.row > .form-group:first-child {
  margin-right: 20px;
}
.row > .form-group:last-child {
  margin-left: 20px;
  margin-right: 0;
}
.btn {
  background-color: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
/* position(ИМБА , двигающиеся элементы) */
/* .position {
  position: relative;
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
  height: 300px;
}
.box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: coral;
} */
